<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="explain_area">
      <div class="explain_title"><%= title %></div>
      <div class="explain_sub_title">Simple volatile voting web application</div>
      <div class="explain_sub_title">
        4 type of poll you can make and share the url to your audience like below.
        <br>
        *please note that all data will be lost when server down.(no storage)
      </div>
      <div class="explain_sub_title">
        Visit <a href="<%=url %>controll">controll page</a> to make a new poll if you are admin.
        <br>
        For visitor, please contact admin of this server to make a poll.
      </div>

      <div class="explain_block">
        <div class="explain_survey">YES-NO</div>
        <img src="/images/yesno_sample.png" width=200>
      </div>
      <div class="explain_block">
        <div class="explain_survey">N-Step</div>
        <img src="/images/multi_sample.png" width=200>
      </div>
      <div class="explain_block">
        <div class="explain_survey">MAP</div>
        <img src="/images/map_sample.png" width=200>
      </div>
      <div class="explain_block">
        <div class="explain_survey">Free-Text</div>
        <img src="/images/text_sample.png" width=200>
      </div>
    </div>
    <div class="explain_area">
      <div class="explain_appendix">if you want to use this app by your own, please use <a href="https://hub.docker.com/repository/docker/shyamagu/volavote">shyamagu/volavote on Dockerhub</a><br>or clone from <a href="https://github.com/shyamagu/volavote">https://github.com/shyamagu/volavote</a></div>
    </div>
  </body>
</html>
