<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="result" class="explain_area">
      <div class="explain_title"><%= title %></div>
      <div class="explain_sub_title_underline">Simple volatile voting web application</div>
      <div class="explain_sub_title">
        6 type of poll site you can create and share the url to your audience like below.
        <br>
        *please note that all data will be lost when server down.(no storage)
      </div>
      <div class="explain_sub_title">
        Visit <a href="<%=url %>control">control page</a> to make a new poll if you are admin.(default key is '1234' or use process.env.KEY)
        <br>
        For visitor, please contact admin of this server to make a poll.
      </div>

      <div class="explain_block">
        <div class="explain_survey">YES-NO</div>
        <img src="/images/yesno_sample.png" width=180>
      </div>
      <div class="explain_block">
        <div class="explain_survey">N-Step</div>
        <img src="/images/survey_sample.png" width=180>
      </div>
      <div class="explain_block">
        <div class="explain_survey">MAP</div>
        <img src="/images/map_sample.png" width=130>
      </div>
      <div class="explain_block">
        <div class="explain_survey">Multi</div>
        <img src="/images/multi_sample.png" width=180>
      </div>
      <div class="explain_block">
        <div class="explain_survey">Free-Text</div>
        <img src="/images/text_sample.png" width=180>
      </div>
      <div class="explain_block">
        <div class="explain_survey">2c-Quiz</div>
        <img src="/images/quiz_sample.png" width=180>
      </div>      
    </div>
    <div class="explain_area">
      <div class="explain_appendix">if you want to use this app by your own, please use <a href="https://hub.docker.com/r/shyamagu/volavote">shyamagu/volavote on Dockerhub</a><br>or clone from <a href="https://github.com/shyamagu/volavote">https://github.com/shyamagu/volavote</a></div>
    </div>
  </body>
</html>
