<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app">
      <div class="vote_area">
        <div class="vote_title"><%= title %></div>
        <button class="yes_button" :class="{votedYesStyle: votedYes}" :style="`width:${sizeYes}px;height:${sizeYes}px`" @click.prevent="sayYes">Yes<br/>{{countYes}}</button>
        <button class="no_button" :class="{votedNoStyle: votedNo}" :style="`width:${sizeNo}px;height:${sizeNo}px`" @click.prevent="sayNo">No</br>{{countNo}}</button>
      </div>
    </div>
  </body>
  <script>
    const socket = io();
    var app = new Vue({
      el: '#app',
      data: {
        title: '<%= title %>',
        votedYes: false,
        votedNo : false,
        errorMessage: '',
        countYes:0,
        countNo:0,
        sizeYes:100,
        sizeNo:100,
      },
      mounted() {
        socket.emit('voting',this.title)
        socket.on('voting',(box)=>{
          if(this.title === box.title){
            this.countYes = box.YES
            this.countNo = box.NO
            this.sizeYes = 100+10*this.countYes
            this.sizeNo = 100+10*this.countNo
          }
        })
        socket.on('switch',(url)=>{
          window.location.href=url
        })
      },
      methods:{
        sayYes: function(){
          this.vote({title:this.title, vote:"YES", type:"ALT"})
          this.votedYes = true
          this.votedNo = false
        },
        sayNo: function(){
          this.vote({title:this.title, vote:"NO", type:"ALT"})
          this.votedYes = false
          this.votedNo = true
        },
        vote:function(vote){
          fetch("/vote",{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify(vote)
          })
          .then(response=>{
            //OK
          })
          .catch((error)=>{
            this.errorMessage = error
          });
        },
      }
    })
  </script>
</html>
