body {
  /*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}


.explain_area {
  margin-top:50px;
  text-align:center;
}

.explain_title{
  font-size: 48px;
}

.explain_sub_title{
  font-size: 20px;
  margin-bottom: 20px;
}

.explain_sub_title_underline{
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.explain_appendix{
  font-size:20px;
}

.explain_block{
  vertical-align:top;
  display: inline-block;
  width:190px;
  height:200px;
  font-size: 16px;
  border: solid 1px #999;
}

.explain_survey{
  font-size:24px;
  font-weight: bold;
  margin: 10px auto 10px auto;
}

.input_key{
  font-size:16px;
  margin:16px;
}

.error_message{
  font-size: 20px;
  font-weight: bold;
  color:red;
  margin-bottom: 20px;
}

.options{
  margin-bottom:5px;
}

.result_area{
  font-size:24px;
  text-align: left;
  width:900px;
  margin:auto;
}

.result_line_switch{
  vertical-align:top;
  font-size: 20px;
  display: inline-block;
  width:80px;
  height:52px;
  margin: 0px 0px 1px 0px;
}

.switch_button{
  width:80px;
  height:52px;
}

.result_line_copy{
  vertical-align:top;
  font-size: 20px;
  display: inline-block;
  width:50px;
  height:52px;
  margin: 0px 0px 1px 0px;
}

.copy_button{
  width:50px;
  height:52px;
  background-color: #999;
}

.result_line_title{
  vertical-align:top;
  font-size: 20px;
  display: inline-block;
  width:300px;
  height:52px;
  background-color: #CCC;
  margin: 0px 0px 1px 0px;
}

.result_line_type {
  vertical-align:top;
  font-size: 16px;
  display: inline-block;
  width:80px;
  height:52px;
  background-color: #EEE;
  margin: 0px 0px 1px 0px;
}

.result_line_result{
  vertical-align:top;
  font-size: 16px;
  display: inline-block;
  width:250px;
  height:52px;
  background-color: #EEE;
  margin: 0px 0px 1px 0px;
}

.message_area{
  font-size:24px;
  text-align: left;
  width:550px;
  height:72px;
  line-height: 72px;
  margin:20px auto auto auto;
}

.message_text{
  vertical-align:top;
  font-size: 24px;
  display: inline-block;
  width:400px;
  margin: 0px 0px 2px 0px;
}

.message_text_area{
  font-size: 24px;
  width:400px;
  height:72px;
}

.message_post{
  vertical-align:top;
  font-size: 24px;
  display: inline-block;
  width:100px;
  margin: 0px 0px 2px 10px;
}

.message_post_button{
  width:100px;
  height:72px;
  background-color: #99F;
}

.message_post_button:disabled{
  cursor: default;
  color: #669;
  opacity: 0.6;
}

.list_display_area{
  margin-top:40px;
}

.list_area{
  font-size:24px;
  text-align: center;
  width:700px;
  height:64px;
  line-height: 64px;
  margin:10px auto auto auto;
}

.emphasize_list_area{
  border:5px solid #FF6;
}

.agree_button_area{
  vertical-align:middle;
  font-size: 24px;
  display: inline-block;
  width:70px;
}

.agree_button{
  vertical-align:middle;
  display: inline-block;
  width:70px;
  height:64px;
  background-color: #99F;
}

.agree_number_area{
  text-align: center;
  vertical-align:middle;
  display: inline-block;
  font-size: 24px;
  height:64px;
  width:70px;
  background-color: #CCF;
  border:solid 1px #CCF;
}

.list_message_area{
  vertical-align:middle;
  text-align: left;
  font-size: 16px;
  height:60px;
  display: inline-block;
  width:500px;
  white-space: pre-wrap;
  overflow: auto;
  line-height: 16px;
  border:solid 1px #99F;
}

.same_message_area{
  background-color: #CCF;
}

.v-enter-active, .v-leave-active {
  transition: all 500ms;
}
.v-enter, .v-leave-to {
  opacity: 0;
}

.v-move {
  transition: all .3s;
}

.v-leave-active {
  position: absolute;
}

.making_area{
  font-size:24px;
  text-align: center;
  width:700px;
  height:52px;
  line-height: 52px;
  margin:auto;
}

.create_area{
  margin-top:20px;
  background-color: #CCF;
}
.make_poll_item{
  vertical-align:middle;
  font-size: 24px;
  display: inline-block;
  width:200px;
  margin: 0px 0px 2px 0px;
  text-decoration: underline;
  font-weight: bold;
}

.make_poll_item_step{
  vertical-align:top;
  font-size: 24px;
  display: inline-block;
  width:200px;
  margin: 0px 0px 2px 0px;
  text-decoration: underline;
  font-weight: bold;
}

.make_poll_value{
  vertical-align:middle;
  font-size: 20px;
  display: inline-block;
  width:450px;
  text-align: left;
  margin: 0px 0px 2px 0px;
}

.make_poll_input{
  font-size: 20px;
  margin-left:5px;
}

.make_poll_input_number{
  font-size: 20px;
  margin-left:5px;
  width:100px;
}

.make_poll_botton_new{
  background-color: #99F;
  width:70px;
  height:70px;
  font-size:48px;
  font-weight: bold;
  border-radius:35px;
  margin:5px;
}
.make_poll_botton_create{
  background-color: #99F;
  width:500px;
  height:52px;
  font-size:28px;
  margin:5px;
}

.current_line{
  background-color: #FCC;
}

.vote_area{
  text-align: center;
  min-width: 600px;
}

.vote_title{
  font-size: 36px;
  margin-top: 50px;
}

.alt_image {
  margin-top:20px;
  width: 500px;
  height: 300px;
  object-fit: contain;
}

.mbq_image{
  margin-top:20px;
  width: 500px;
  height: 200px;
  object-fit: contain;
}

.code_title{
  font-size: 36px;
  margin: 50px;
}
.code_input{
  font-size: 24px;
  font-weight: bold;
}
.code_submit{
  font-size: 24px;
}

.emphasize{
  color:#66F;
  font-weight:bold;
  text-decoration: underline;
}

.emphasize:active{
  color:#F00
}

.alt_button{
  width:100px;
  height:100px;
  border-radius:100%;
  color: #FFFFFF;
  font-size: 36px;
  outline: none;
  border:none;
  margin:25px 50px 25px 50px;
  transition-duration: .3s
}

.yes_button{
  background:#F99;
}

.no_button{
  background:#99F;
}

.votedYesStyle{
  background:red;
}

.votedNoStyle{
  background: blue;
}

.emphasizeVote{
  outline:solid 20px #FF0;
}

.emphasizeAnswer{
  background-color: #FF9;
  border-radius:20%;
}

.marubatsu_block{
  vertical-align:top;
  display: inline-block;
  width:300px;
  height:300px;
  font-size: 30px;
  margin: auto auto auto auto;
}

.maru_button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size:100px;
  font-weight: bold;
  color:#CCF;
  width:100%;
  height:150px;
}

.batsu_button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size:100px;
  font-weight: bold;
  color:#FCC;
  width:100%;
  height:150px;
}

.marubatsu_count{
  color:#999;
  margin:30px;
}

.votedMaruStyle{
  font-size:150px;
  color:#00F;
}

.votedBatsuStyle{
  font-size:150px;
  color:#F00
}

.one_area{
  vertical-align:top;
  display: inline-block;
  text-align: center;
  width:160px;
  height:300px;
  background-color: #99F;
  margin-top:20px;
  margin-right:1px;
}

.button_area{
  vertical-align:top;
  display: inline-block;
  text-align: center;
  width:160px;
  margin-top:20px;
}

.survey_bar{
  width:160px;
  height:300px;
  background-color: #CCC;
  transition-duration: .3s
}

.survey_button_area{
  width:160px;
}

.survey_button{
  width:150px;
  height:150px;
  background:#99F;
  border-radius:100%;
  color: #FFFFFF;
  font-size: 16px;
  outline: none;
  border:none;
  margin:auto;
}


.survey_button:hover{
  background: #66F;
}

.survey_button_on{
  background: blue;
}

.space{
  margin:50px;
}

.multi_survey_line_area{
  text-align: left;
  width:650px;
  height:70px;
  background-color: #FFF;
  margin:auto;
}

.multi_survey_button_area{
  vertical-align:middle;
  display: inline-block;
  width:250px;
  height:70px;
}
.multi_survey_button{
  width:240px;
  height:60px;
  font-size:20px;
  background:#CCF;
  margin-top:5px;
  border:none;
}

.multi_survey_button_on{
  background-color: #00F;
  color:#FFF;
}

.multi_survey_bar_area{
  vertical-align: middle;
  display: inline-block;
  width: 0px;
  font-size: 16px;
  color: #000;
  background-color: #99F;
  text-align: right;
  padding:10px 0px 10px 0px;
  transition-duration: .3s
}

.map_area{
  margin:auto;
  margin-top:50px;
  position: relative;
}

.emphasizeBar{
  background-color: #FF6;
}

@keyframes pin_animation{
  0% {
    opacity:0; 
  } 
  100% {
    opacity:1;
  } 
} 
.map_pin_anime{
  animation-name: pin_animation ; 
  animation-duration: .2s;
  animation-fill-mode: both;  
  animation-iteration-count: 3;
}

@media screen and (max-width:850px){
  
  .vote_area{
    min-width: 100%;
  }

  .vote_title{
    width:100%;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom:10px;
  }

  .alt_image {
    margin-top:0px;
    margin-bottom:0px;
    width: 90%;
  }

  .alt_button{
    width:100px;
    height:100px;
    border-radius:100%;
    color: #FFFFFF;
    font-size: 36px;
    outline: none;
    border:none;
    margin:25px 25px 25px 25px;
    transition-duration: .3s
  }

  .mbq_image{
    margin-top:0px;
    width: 90%;
  }

  .one_area{
    width:60px;
    height:100px;
  }
  
  .button_area{
    width:60px;
  }

  .survey_bar{
    width:60px;
    max-height:100px;
    background-color: #CCC;
  }

  .survey_button_area{
    width:60px;
  }
  
  .survey_button{
    font-size: 12px;
    color: #339;
    width:50px;
    height:50px;
  }

  .message_area{
    font-size:24px;
    width:80%;
  }
  
  .message_text{
    width:60%;
  }
  
  .message_text_area{
    font-size: 16px;
    width:100%;
    height:72px;
  }
  
  .message_post{
    font-size: 16px;
    width:90px;
  }
  
  .message_post_button{
    width:90px;
    height:72px;
  }
  
  .message_post_button:disabled{
    cursor: default;
    color: #9C9;
    opacity: 0.6;
  }
  
  .list_display_area{
    margin-top:40px;
  }
  
  .list_area{
    font-size:16px;
    width:100%;
    height:64px;
    text-align: center;
  }

  .emphasize_list_area{
    border:5px solid #FF6;
  }
  
  .agree_button_area{
    font-size: 16px;
    width:64px;
  }
  
  .agree_button{
    width:64px;
    height:64px;
  }
  
  .agree_number_area{
    font-size: 16px;
    height:64px;
    width:64px;
  }
  
  .list_message_area{
    font-size: 16px;
    height:64px;
    width:50%;
  }
  
  .marubatsu_block{
    width:150px;
    height:250px;
    margin: auto auto auto auto;
  }

  .maru_button{
    font-size:70px;
  }

  .batsu_button{
    font-size:70px;
  }

  .votedMaruStyle{
    font-size:80px;
  }

  .votedBatsuStyle{
    font-size:80px;
  }

  .space{
    margin:20px;
  }

  .multi_survey_line_area{
    width:320px;
  }
  
  .multi_survey_button_area{
    width:130px;
  }
  .multi_survey_button{
    width:120px;
    font-size: 16px;
  }
  
  .multi_survey_bar_area{
    width: 0px;
  }

  .emphasizeBar{
    background-color: #FF6;
  }

}
